<table>
    <tr>
        <td>
            Duplicate Array
        </td>
        <td>
            <h3>
                {{duplicateArray}}
            </h3>
        </td>
    </tr>
    <tr>
        <td>
            Unique Items by using <b>foreach</b>
        </td>
        <td>
<h3>
    {{uniqueItemsbyForeach}}
</h3>
        </td>
    </tr>
    <tr>
        <td>
            Unique Items by using <b>Sets</b>
        </td>
        <td>
            <h3>
                {{uniqueItemsbySets}}
            </h3>
        </td>
    </tr>
    <tr>
        <td>
            Unique Items by using <b>filter</b>
        </td>
        <td>
            <h3>
                {{uniqueItemsbyfilter}}
            </h3>
        </td>
    </tr>
</table>